
@{
    ViewData["Title"] = "HDD";
}

<h1>HDD</h1>

<div class="form-group">
    <label for="measurements_valueInput">Value</label>
    <input type="number" class="form-control" id="measurements_valueInput" placeholder="Enter value" />
</div>
<button type="button" class="btn btn-primary">Add</button>